* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2 {
    font-size: 5rem;
    color: black;
}

.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}

.countdown {
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.day,
.hour,
.min,
.sec {
    font-size: 3rem;
}